    
        .navbar-header{
            text-align:right;
            font-size:4rem;
            color:white;
            font-weight:bold;
        }
        
        body{
            background-image: url("images/space.jpg")
        }
        h1{
            font-size:5rem;
            color:red;
            
        }

        .con2{
            background-color:#FF0000;
            color:white;
