    
        .navbar-header{
            text-align:right;
            font-size:4rem;
            color:white;
            font-weight:bold;
        }
        
        body{
            background-image: url("images/space.jpg")
        }
        h1{
            font-size:5rem;
            color:red;
            
        }
        .Navo {
            font-size: 1rem;
        }

        .con1{
            background-color:#000000;
            color:white;
            text-align:center;
        }
        .con2{
            background-color:#FF0000;
            color:white;
        }
        .con3{
            background-color:#FF4B00;
        }
        .con4{
            background-color:#FFC400;
        }
        .con5{
            background-color:#FF1355;
        }
        .con6{
            background-color:#DB00E8;
        }
        .con7{
            background-color:#FF0000;
            color:white; 
        }